@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


#pm{
  width: 350px;
  height:350px;
  float: right;
  margin-left: 20px;
  }

  
#pm2{
  width: 300px;
  height:300px;
  float: left;
  margin-right: 20px;
  }

#pm3{
  width: 300px;
  height:300px;
  float: right;

  
  }

.ad2{
width:1000px;
height: 380px;
margin: 25px 0px 0px 300px;
overflow: auto;




opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;



}

.ad3{
width:1000px;
height: 380px;
margin: 0px 0px 0px 300px;
overflow: auto;




opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;



}



p.a{font: 23px 'Roboto Condensed', sans-serif;}

h.a{font: 27px 'Roboto Condensed', sans-serif;
color: #00184c;
border-bottom: 2px solid #00184c;}

.ad{
width:300px;
height: 50px;
margin: 10px 0px 0px 0px;
}

body{
  font: 15px/1.5 Garamond;
  padding:0;
  margin:0;
  background: url('ott.jpeg');
  background-size: cover;
  height: 100vh;
  padding:0;
  margin:0;
      
      opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;



}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: fixed;
  width: 300px;
  height: 100px;            /* Footer height */
  padding:20px;
  margin-top:2px;
  color:#ffffff;
  background-color:#00184c;
  text-align: center;
  float: down;
  opacity: 0.8;
  font-size: 50px;

}

#footer2{
  position: relative;
  width: 300px;
  height: 100px;            /* Footer height */
  padding:20px;
  margin-top:200px;
  color:#ffffff;
  background-color:#00184c;
  text-align: center;
  float: down;
  opacity: 0.8;
  font-size: 50px;

}

.flex-container{
  display: flex;
  color: white;
  background-color: #00184c;
  margin: 30px;
  padding: 30px;
  float:right;
  
}



/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}


/* Header #1B9CE5- blue **/
header{
  background:#00184c;
  opacity: 0.9;
  color:white; /* Jamaica Group**/
  padding-top:5px;
  min-height:70px;
  border-bottom:#F7EC14 3px solid; /*header border bottom **/
}

header a{
  color:#F2EF14;  /* ABOUT SERVICES**/
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#F2EF14; /*Renaissance**/
  font-weight:bold;
}

header a:hover{
  color:#0038B2;
  font-weight:bold;
}



@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}


/* Showcase */
#showcase{
  min-height:400px;
  background:url('../img/church.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#1B9CE5
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:400px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#00184c;

}

/*
*{
  margin: 0;
  padding:0;
  font-family: Century Gothic;
}

header{
  background-image: url(..\photo.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;

}


}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle,black,white);
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.nav {
  position: absolute;
  left:60%;
  

}

.nav ul {
  list-style: none;

}

.nav ul li {
  list-style: none;
  display: inline-block;
  color #fff;
  font-family: Raleway;
}
*/
